.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

#El Archivo con vinculo a Backend 
#esta agregado en gitignore 
#para evitar Cambios en Produccion
/src/main.js

